//--------------------------- Populars -------------------
mixin linksList(params)
	if params.title
		h3 #{params.title}
	ul()&attributes({'class': params.class})
		if params.links
			each item in params.links
				li
					+link(item)
			if params.search
				li.pull-right
					form.navbar-form.navbar-right(role="search")
						.form-group
							input.form-control(type="text" placeholder="search")
						button.glyphicon.glyphicon-search.btn(type="submit" aria-hidden="true")

//--------------------------- common ---------------------
//--------------------------- link -----------------------
mixin link(params)
	if typeof params === 'undefined'
		a()&attributes({title: 'Link', href: '#'})
	else
		if typeof params === 'string'
			- title = params
		a()&attributes({href: (params.href || '#'), class: params.class}) #{params.title || title}
			if params.price
				span.price $#{params.price}