include common/_config
include common/_mixins

doctype
html(lang="en")
	head
		include _head
	body
		header#header
			include header/_header
		//- Content part
		main#main
			include main/_main
		footer
			section.row.bottom-form
				.col-xs-4
					h1.title Get discount and free offers
					p.description Get free coupers. discount and new arivals
			include footer/_footer