ul.nav.navbar-nav.ul-tm-3
	li: a(href="#")
		span.hidden-sm.hidden-md Login
		span.glyphicon.glyphicon-log-in.visible-sm-block.visible-md-block
	li: a(href="#")
		span.hidden-sm.hidden-md Signup
		span.glyphicon.glyphicon-user.visible-sm-block.visible-md-block
	li: a.btn.btn-danger.cart(href="#")
		span(aria-hidden="true").glyphicon.glyphicon-shopping-cart
		| Shopping Cart