section.slider {
	@width: 1600px;
	position: relative;
	.slide {
		img {
			max-width: 100%;
			display: block;
			margin: auto;
		}
		.container-fluid {
			max-width:1190px;
		}
		.slide-interaction {
			position: absolute;
			top: 31.5%;
			text-align: center;
		}
		.decr {
			margin-bottom: 40px;
			h1, h2 {
				color: #fff;
			}
			h1 {
				font-size: 48px;
				letter-spacing: 1.5px;
			}
			h2 {
				font-size: 30px;
			}
		}
		button.shop-me {
			font-size: 24px;
			padding: 12px 30px;
		}
	}
	.slide-title {
		max-width: 1155px;
		text-align: center;
		h2 {
			color: #000;
			margin: 55px 0 45px 0;
		}
	}
	.slider-bullets-wrapper {
		position: absolute;
		bottom: 116px;
		width: 100%;

		.container-fluid {
			max-width: @width;
		}

		.slider-bullets {
			border: 1px solid #cccccc;
			display: table;
			margin: auto;
			background: #fff;
			padding: 4px 10px 5px;

			li {
				display: inline-block;
				margin: 0 9px;
				& > a {
					&::before {
						@sise: 8px;
						content: '';
						width: @sise;
						height: @sise;
						display: block;
						border-radius: 50%;
						padding: 5px;
						background: #cccccc;
					}
				}
				&.active {
					& > a {
						&::before {
							background: #000;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: @screen-lg) {
	section.slider {
		.slide {
			img {
			}
			.container-fluid {
			}
			.slide-interaction {
				left: 15%;
				.decr {
					h1, h2 {
					}
					h1 {
						font-size: 34px;
					}
					h2 {
						font-size: 18px;
					}
				}
				button.shop-me {
					font-size: 16px;
					padding: 6px 15px;
				}
			}
		}
		.slide-title {
			h2 {
				font-size: 18px;
			}
		}
		.slider-bullets-wrapper {
			bottom: 105px;
			.container-fluid {}
			.slider-bullets {
				li {
					& > a {
						&::before {}
					}
					&.active {
						& > a {
							&::before {}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: @screen-md) {
	section.slider {
		.slide {
			img {}
			.container-fluid {}
			.slide-interaction {
				.decr {
					h1, h2 {}
					h1 {}
					h2 {}
				}
				button.shop-me {}
			}
		}
		.slide-title {
			h2 {}
		}
		.slider-bullets-wrapper {
			.container-fluid {}
			.slider-bullets {
				li {
					& > a {
						&::before {}
					}
					&.active {
						& > a {
							&::before {}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: @screen-sm) {
	section.slider {
		.slide {
			img {}
			.container-fluid {}
			.slide-interaction {
				top: 15%;
				left: 50%;
				margin-left: -50%;
				width: 100%;
				.decr {
					margin-bottom: 20px;
					h1, h2 {}
					h1 {}
					h2 {}
				}
				button.shop-me {}
			}
		}
		.slide-title {
			h2 {}
		}
		.slider-bullets-wrapper {
			.container-fluid {}
			.slider-bullets {
				li {
					& > a {
						&::before {}
					}
					&.active {
						& > a {
							&::before {}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: @screen-xs) {
	section.slider {
		.slide {
			img {}
			.container-fluid {}
			.slide-interaction {
				left: 50%;
				margin-left: -50%;
				.decr {
					h1, h2 {}
					h1 {
						font-size: 24px;
					}
					h2 {
						font-size: 14px;
					}
				}
				button.shop-me {}
			}
		}
		.slide-title {
			h2 {}
		}
		.slider-bullets-wrapper {
			.container-fluid {}
			.slider-bullets {
				li {
					& > a {
						&::before {}
					}
					&.active {
						& > a {
							&::before {}
						}
					}
				}
			}
		}
	}
}
