section.foter-links-section
	.container
		.row
			.col.col-1
				.linksList
					+linksList({
						title: 'Help & Info',
						links: [
							'Delivery',
							'Returns & Refunds',
							'Contact Us',
							'Track your Order',
							'Reglaze Service',
							'Lens Price Comparison',
							'A - Z Brands',
							'FAQ\'s'
						]
					})
			.col.col-2
				.linksList
					+linksList({
						title: 'Brands we sell',
						links: [
							'Noosa Amsterdam',
							'Cream Clothing',
							'Taschendieb',
							'Hermes paris',
							'D&G Fashion',
						]})
			.col.col-3
				.linksList
					+linksList({
						title: 'Care & advice',
						links: [
							'Prescription Information',
							'Lenses & Coatings',
							'PD Measurement',
							'Style Advice',
							'Size Guide',
							'Shopping Guide',
						]})
			.col.col-4
				.linksList
					+linksList({
						title: 'Company',
						links: [
							'About Us',
							'Our Store',
							'Terms & Conditions',
							'Privacy Policy',
							'Cookies',
							'Find us',
						]})
			.col.col-5
				section.folow-us
					h3 Follow us
					.row
						.col-xs-4
							a(href="#")
								img(src="./files/images/socials/facebook.png")
						.col-xs-4
							a(href="#")
								img(src="./files/images/socials/twiter.png")
						.col-xs-4
							a(href="#")
								img(src="./files/images/socials/1.png")