section.header {

}
section.container-fluid {
	font-family: "Myriad Pro", sans-serif;
	background: #fff;

	//flags main styles
	span.flag {
		@height: 16px;
		@width: 21px;
		@border: 1px;

		display: inline-block;
		vertical-align: middle;
		height: @height;
		width: @height * 1.3125;
		border: @border solid #cccccc;
	}

	// main menu
	nav.navbar.navbar-default {
		background: none;
		box-shadow: none;
		border: none;
		margin-bottom: auto;
		.navbar-header {
			button.btn.navbar-toggle.collapsed {
				span.icon-bar {}
			}
		}
	}

	#main-menu {
		border: none;
		background: none;
		span[class^="icon"] {
			&:before {
				font-size: 1.5em;
			}
		}

		ul.nav.navbar-nav {
			li > a {
				text-transform: uppercase;
			}
			&.ul-tm-1 {
				@media (min-width: 1000px) {
					padding-right: 30px;
				}
				li {
					a {}
				}
			}
		}
		@import "_selectors";
	}
	@import "_shopping-curt";
}

section.part-2 {
	.slider {
		img {
			max-width: 100%;
			display: block;
			margin: auto;
		}
	}
	.store-menu {
		position: relative;
		nav.navbar {
			position: absolute;
			top: 50px;
			width: 100%;
			background: #000;
			border-color: #000;
			height: 83px;
			color: #FFF;
			ul.nav.navbar-nav {
				margin: 0 15px 0 300px;
			  float: none;
				li{
					a {
						color: #fff;
						padding: 30px 15px;
						font-weight: bold;
					}
				}
				form.navbar-form.navbar-right {
					margin: 25px -15px;
					.form-group {
						input[type="text"] {
							width: 300px;
						}
					}
				}
			}
			.navbar-brand {
				height: 83px;
				line-height: 53px;
				color: #FFF;
				&.presenter{
					width: 110px;
					position: relative;
					margin-left: 30px;
					img {
						position: absolute;
						top: 0;
						left: 0;
					}
					span {
						position: absolute;
						z-index: 1;
						left: 51px;
						top: 35px;
						color: #fff;
						font-size: 24px;
					}
				}
			}
			.navbar-form {
				margin: 20px -15px;
				position: relative;
				float: right;
				button {
					position: absolute;
					right: 15px;
					top: 0;
					background: transparent;
					color: #dddddd;
					&:hover {
						color: #000;
					}
				}
			}
		}
	}
}
