@import "sections/asside/_asside";
@import "sections/content/_content";
@import "sections/content/_card";
@import "sections/content/_shop-now";

main#main {
	background: #ececec;
	.main-wrapper {
		@asidewidth: 22.2%;
		max-width: 1205px;
		margin: auto;

		aside.links {
			width: @asidewidth;
		}
		section.content {
			width: 100 - @asidewidth;
			padding-left: 48px;
		}
		.col-xs-my {
			position: relative;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 15px;
			float: left;
		}
	}
}

@media screen and (max-width: @screen-lg) {
	main#main {
		.main-wrapper {
			aside.links {
				display: none;
			}
			section.content {
				padding: 0 15px;
				width: 100%;
			}
			.col-xs-my {}
		}
	}
}
@media screen and (max-width: @screen-md) {
	main#main {
		.main-wrapper {
			aside.links {}
			section.content {}
			.col-xs-my {}
		}
	}
}
@media screen and (max-width: @screen-sm) {
	main#main {
		.main-wrapper {
			aside.links {}
			section.content {}
			.col-xs-my {}
		}
	}
}
@media screen and (max-width: @screen-xs) {
	main#main {
		.main-wrapper {
			aside.links {}
			section.content {}
			.col-xs-my {}
		}
	}
}