main#main {
	background: #ececec;
	.main-wrapper {
		@asidewidth: 22.2%;
		width: 1205px;
		margin: auto;

		aside.links {
			width: @asidewidth;
		}
		section.content {
			width: 100 - @asidewidth;
			padding-left: 48px;
		}
		.col-xs-my {
			position: relative;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 15px;
			float: left;
		}
		@import "sections/_asside";
		@import "sections/_catalog";
	}
	@import "sections/_bottom-form";
}