asside.links {
	ul {
		li {
			a {
				color: #000;
				&.show-more {
					color: #337ab7;
					&:hover, &:focus {
						color: #23527c;
					}
				}
			}
		}
	}
	.popular-categories {
		h3 {}
		ul {
			li {
				a {}
			}
		}
	}
}
