section.content {
	.first-group{}
	.second-group {}
	.title-group {
		margin: 48px 0px 42px 0;
		h2.title {
			margin: 0;
			font-size: 26px;
		}
		.pager {
			margin: -3px 0 0;
			.viev-all {
				float: left;
				line-height: 32px;
				margin-left: 24px;
				a {}
			}
			.button-group {
				float: right;
				nav {
					ul {
						margin: 0;
						li {
							a {
								border-radius: 0;
								span {}
							}
						}
					}
				}
			}
		}
	}
	.item-cards {
		@import "_card";
	}//section.item-cards
	.shop-now-group {
		margin: 32px 0;
		@import "./shop-now/_shop-now";
	}
	.third-group {
		margin-bottom: 60px;
	}
}//section