// Main
@import "common/_variables";
@import "common/_mixins";
@import "common/_fonts";
// btstrp
@import "../../node_modules/bootstrap/less/bootstrap";
//@import "";
@import "../../node_modules/bootstrap/less/theme";
//
//// flags
//@import "@{flags}less/flag-icon";


// App styles
@import "header/_header";
@import "main/_main";

//Common styles
body {
	background: #fff;
	color: #fff;
}
h1, h2, h3, h4, h5, h6, p, button {
	color: #000;
}

[id^="chromeperfectpixel"] {
  border: 1px solid #000;
}