// Main
@import "common/_variables";
@import "common/_mixins";
@import "common/_fonts";
@import "common/_bootstrap";

@import '@{flags-less}flag-icon-base';
@import '@{flags-less}flag-icon-list';


// App styles
@import "header/_header";
@import "main/_main";
@import "footer/_footer";

//Common styles
body {
	background: #fff;
	color: #fff;
  	font-family: 'Open Sans';
}
h1, h2, h3, h4, h5, h6, p, button {
	color: #000;
	font-family: 'Open Sans';
}

nav {
	ul.pagination {
		width: 100%;
		margin: 0;
		padding: 2px 0 0;
		li {
			a {
				padding: 1px 5px;
				background: #ccc;
				span {
					color: #fff;
				}
			}
			& + li {
				float: right;
			}
		}
	}
}

img[id^="chromeperfectpixel"] {
  border: 1px solid #000;
  margin-left: -800px !important;
  left: 50% !important;
  top: 0 !important;
}

@media screen and (max-width: @screen-lg) {
	body {
		&::before {
			@height: 40px;
			content: 'lg';
			font-size: 20px;
			font-weight: bold;
			position: fixed;
			z-index: 999999;
			border-radius: 50%;
			text-align: center;
			line-height: @height;
			width: @height;
			height: @height;
			background: #0f0;
			top: 10px;
			left: 10px;
			color: red;
		}
	}
}
@media screen and (max-width: @screen-md) {
	body {
		&::before {
			content: 'md';
		}
	}
}
@media screen and (max-width: @screen-sm) {
	body {
		&::before {
			content: 'sm';
		}
	}
}
@media screen and (max-width: @screen-xs) {
	body {
		&::before {
			content: 'xs';
		}
	}
}