ul.nav.navbar-nav.ul-tm-3
	li: a(href="#")
		span.hidden-sm.hidden-md Login
		span.icon-login.visible-sm-block.visible-md-block
	li: a(href="#")
		span.hidden-sm.hidden-md Signup
		span.icon-user-add.visible-sm-block.visible-md-block
	li: a.btn.btn-danger.cart(href="#")
		span.icon-basket(aria-hidden="true")
		| Shopping Cart