extends _card-template.jade

block image
	img(src="./files/images/cards/2.jpg")

block item-title
	| Cream sissi tunic

block item-descr
	| Lightweight with just a hint of sheer color, this hydrating

block price
	| $20.00

