&.ul-tm-3 {
	float: right;
	@media (max-width: @screen-sm){
		float: none;
	}
	li {
		a {
			&.cart {
				position: relative;
				color: #fff;
				padding: 7px 10px 7px 44px;
				margin: 24px 20px 24px 0;
				height: 34px;
				width: 190px;

				&:hover {
					background: inherit;
					color: #000;
				}

				span {
					position: absolute;
					left: 23px;
					top: 6px;
					&:before {
						font-size: 20px;
					}
				}
			}
		}
	}
}