.popular-categories
	.row
		.col-xs-12.links-box
			h3 Popular Categories
			ul
				li: a(href="#") Performance Collection
				li: a(href="#") Pants
				li: a(href="#") Woven Shirts
				li: a(href="#") Earth-Friendly Apparel
				li: a(href="#") Sweatshirts
				li: a(href="#") Infants
				li: a(href="#") Shorts
				li: a(href="#") Adult Essentials
				li: a(href="#").show-more Show More

.popular-brends
	.row
		.col-xs-12.links-box
			h3 Popular Brands
			ul
				li: a(href="#") Ashworth
				li: a(href="#") Rabbit Skins
				li: a(href="#") Izod
				li: a(href="#") LAT
				li: a(href="#") Authentic Pigment
				li: a(href="#") Canvas
				li: a(href="#") Apples & Oranges
				li: a(href="#") OccuNomix
				li: a(href="#").show-more Show More

.fashion-colors-card-slider
	.row
		.col-xs-12
			section.small-slider
				.slider-wrapper
					.slide
						.image
							img(src="./files/images/cards/asside.jpg")
						.description
							h4.title
								| Fashion Colors For Women
							p.text Make every category of your
								| webstore look special
								| by setting different color schemes.
.shop-now
	.row
		.col-xs-12
.about-store
	.row
		.col-xs-12.links-box
			h2 About Store
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				|  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				| Ut enim ad minim veniam, quis nostrud exercitation.
			p: a(href="#") Ut enim ad minim veniam, quis nostrud exercitation.
				| Aiusmod tempor incididunt ut labore et dolore magna aliqua
