.popular-categories
	.row
		.col-xs-12.links-box
			+linksList({
				title: 'Popular Categories',
				links: [
					'Performance Collection',
					'Pants',
					'Woven Shirts',
					'Earth-Friendly Apparel',
					'Sweatshirts',
					'Infants',
					'Shorts',
					'Adult Essentials',
					{
						title: 'Show More',
						'class': 'show-more'
					}
				]
			})
.popular-brends
	.row
		.col-xs-12.links-box
			+linksList({
				title: 'Popular brands',
				links: [
					'Ashworth',
					'Rabbit Skins',
					'Izod',
					'LAT',
					'Authentic Pigment',
					'Canvas',
					'Apples & Oranges',
					'OccuNomix',
					{
						title: 'Show More',
						'class': 'show-more'
					}
				]
			})

.fashion-colors-card-slider
	.row
		.col-xs-12
			section.small-slider
				.slides
					.slide
						.image
							img(src="./files/images/cards/asside.jpg")
						.description
							h4.title
								| Fashion Colors For Women
							p.text Make every category of your
								| webstore look special
								| by setting different color schemes.
				.slider-bullets-wrapper
					ul.slider-bullets
						li.active: a(href="#")
						li: a(href="#")
						li: a(href="#")
.trend
	.row
		.col-xs-12
			.image
				img(src="./files/images/cards/asside-shop-now.jpg")
			.descr
				h2
					| Introducing
					span  bombshell
					|  forever
			button.btn.btn-danger.by-trend Shop now
.about-store
	.row
		.col-xs-12.links-box
			h2 About Store
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				|  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				| Ut enim ad minim veniam, quis nostrud exercitation.
			p: a(href="#") Ut enim ad minim veniam, quis nostrud exercitation.
				| Aiusmod tempor incididunt ut labore et dolore magna aliqua
