asside.col-xs-4.links
	.row.popular-categories
		.col-xs-12
			h3 Popular Categories
			ul
				li: a(href="#") Performance Collection
				li: a(href="#") Pants
				li: a(href="#") Woven Shirts
				li: a(href="#") Earth-Friendly Apparel
				li: a(href="#") Sweatshirts
				li: a(href="#") Infants
				li: a(href="#") Shorts
				li: a(href="#") Adult Essentials
				li: a(href="#").show-more Show More
	.row.popular-brends
		.col-xs-12
			h3 Popular Brands
			ul
				li: a(href="#") Ashworth
				li: a(href="#") Rabbit Skins
				li: a(href="#") Izod
				li: a(href="#") LAT
				li: a(href="#") Authentic Pigment
				li: a(href="#") Canvas
				li: a(href="#") Apples & Oranges
				li: a(href="#") OccuNomix
				li: a(href="#").show-more Show More
	.row.fashion-colors-card-slider
		.col-xs-12
	.row.shop-now
		.col-xs-12
	.row.about-store
		.col-xs-12
			h2 About Store
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				|  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				| Ut enim ad minim veniam, quis nostrud exercitation.
			p: a(href="#") Ut enim ad minim veniam, quis nostrud exercitation.
				| Aiusmod tempor incididunt ut labore et dolore magna aliqua
