section.bottom-form
	.container
			.text-block
				h1.title Get discount and free offers
				p.description Get free coupers. discount and new arivals
			//.col-xs-8
			form.form-inline
				.form-group
					label(for="full-name").sr-only Full name
					input(type="text", placeholder="your full name").form-control#full-name
				.form-group
					label(for="email").sr-only Email address
					input(type="email", placeholder="your email address").form-control#email
				button(type="submit").btn.btn-danger Subcribe
