section.first-group
	+cards-group([
		{
			'title': 'Items on Demand',
			'link': {},
			'cards': {
				'img': 1,
	//			'sales': true,
	//			'like': true,
				'desc': {
					'title': 'Cream jane jeans dress',
					'text': 'Signature NYX cosmetics'
				},
				'link': {
					'title': 'Price ',
	//				'href': '',
					'price': '10.00'
				}
			}
		}
	])
section.second-group

section.shop-now-group
	.row
		+shop-now([
			{
				'img': 1,
				'title': 'sale upto 35%',
				'desc':	'summer collection 2013'
			},
			{
				'img': 2,
				'title': 'New Arrivals',
				'desc':	'lace bikinis and bras',
				'link': {
					'title': 'Shop now',
					'href': '#',
					'class': 'shop-now'
				}
			},
			{
				'title': 'free ',
				'subtitle': 'shipping',
				'desc':	'on order over $200'
			}
		])


