section.col-xs-8
	section.row.group-title
		.col-xs-6
			h2 Items on Demand
		.col-xs-6.pager
			.row
				.col-xs-6
					a(href="#") View All Items
				.col-xs-6
					.button-group
						button.btn.prev
						button.btn.next
	section.row.first-group
		.col-xs-4
			include cards/_1.jade
		.col-xs-4
			include cards/_2.jade
		.col-xs-4
			include cards/_3.jade
