.about-store
	.row
		.col-xs-12.links-box
			h2 About Store
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				|  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				| Ut enim ad minim veniam, quis nostrud exercitation.
			p: a(href="#") Ut enim ad minim veniam, quis nostrud exercitation.
				| Aiusmod tempor incididunt ut labore et dolore magna aliqua
