.fashion-colors-card-slider
   .row
      .col-xs-12
         section.small-slider
            .slides
               .slide
                  .image
                     img(src="./files/images/cards/asside.jpg")
                  .description
                     h4.title
                        | Fashion Colors For Women
                     p.text Make every category of your
                        | webstore look special
                        | by setting different color schemes.
            .slider-bullets-wrapper
               ul.slider-bullets
                  li.active: a(href="#")
                  li: a(href="#")
                  li: a(href="#")