section.popular-brends.links-mod
   .row
      .col-xs-12.links-box
         +linksList({
            title: 'Popular Brands',
            links: [
               'Ashworth',
               'Rabbit Skins',
               'Izod',
               'LAT',
               'Authentic Pigment',
               'Canvas',
               'Apples & Oranges',
               'OccuNomix',
               {
                  title: 'Show More',
                  'class': 'show-more'
               }
            ]
         })