section.popular-categories.links-mod
	.row
		.col-xs-12.links-box
			+linksList({
				title: 'Popular Categories',
				links: [
					'Performance Collection',
					'Pants',
					'Woven Shirts',
					'Earth-Friendly Apparel',
					'Sweatshirts',
					'Infants',
					'Shorts',
					'Adult Essentials',
					{
						title: 'Show More',
						'class': 'show-more'
					}
				]
			})