.trend
   .row
      .col-xs-12
         .image
            img(src="./files/images/cards/asside-shop-now.jpg")
         .descr
            h2
               | Introducing
               span  bombshell
               |  forever
         button.btn.btn-danger.by-trend Shop now